<aside>
    <ul>
        <li><a href="/index"><i class="fa fa-home"></i>&nbsp;Home</a></li>
        <li><a href="/categories" target="_self"><i class="fa fa-bars"></i>&nbsp;Categories</a></li>
        <li><a href=""><i class="fa fa-university"></i>&nbsp;Store</a></li>
        <li><a href="/about"><i class="fa fa-users"></i>&nbsp;About US</a></li>
        <li><a href="/contact"><i class="fa fa-address-book"></i>&nbsp;Contact</a></li>
    </ul>
</aside>