<nav id="mainNavigation">
    <ul>
        <!--<li><a href="/profile/signIn"><i class="fa fa-sign-in"></i>&nbsp;Sign in</a></li>-->

        <li><a href="/profile/signIn"><i class="fa fa-sign-in"></i>&nbsp;Sign in</a></li>
        <li><a href="/profile/myitems"><i class="fa fa-cubes"></i>&nbsp;Saved Items</a></li>
        <li><a href=""><i class="fa fa-shopping-cart"></i>&nbsp;Cart</a></li>
        <li><a href="/profile/mycreated"><i class="fa fa-cubes"></i>&nbsp;My Items</a></li>
        <li><a href="/profile/signout"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a></li>
    </ul>
</nav>