<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bake Factory</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/cake_logo.jpeg"/>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allura%7CGreat%20Vibes'>
</head>
<body>
<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>
<div id="bodyMain">
    <% include partials/site-navigation.ejs %>
    <main>
        <h2>Welcome to Bake Factory</h2>
        <br>
        <p>Welcome to our website. Here you will find and share delicious recipes of your favourite bakery item.
            If this is your first time on our website, consider Sign up to continue sharing and utilizing all the
            benefits.</p>

    </main>
</div>
<% include partials/footer.ejs %>
</body>
</html>